.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: 500;
  font-size: 0.875rem;
  color: #495057;
}

.required {
  color: #dc3545;
  margin-left: 0.25rem;
}

.error {
  font-size: 0.875rem;
  color: #dc3545;
}


